# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\nova\Downloads\Telegram Desktop\DataExport_2021-09-10\Telegram-exported-JSON-to-VCF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
